@page
@model Shop.WithRepository.Pages.DispenserModel
@{
    ViewData["Title"] = "Dispense Product";
}
<h1>@ViewData["Title"]</h1>

<p>
    Payment was successful. Here is your @Model.ProductName.
</p>