@page
@model Shop.WithRepositories.Pages.DispenserModel
@{
    ViewData["Title"] = "Dispense Product";
}
<h1>@ViewData["Title"]</h1>

<div class="page-description">
    Payment was successful.
</div>

<p>
    Here is your @Model.ProductName.
</p>