@page
@model Shop.WithRepository.Pages.PaymentModel
@{
    ViewData["Title"] = "Payment";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    
    @Html.HiddenFor(x=>x.SaleId)

    You are about the pay for the following items:
    <ul>
        <li>@Model.ProductName</li>
    </ul>

    <div>
        Total price: @Model.Price
    </div>

    <input type="submit" name="pay" value="Pay" asp-page-handler="Pay" />
    <input type="submit" name="cancel" value="Cancel" asp-page-handler="Cancel" />

</form>