@page
@model AboutModel
@{
    ViewData["Title"] = "About Shop";
}
<h1>@ViewData["Title"]</h1>

<p>This is a demo application that shows the usage of:</p>
<ul>
    <li>Repository Pattern</li>
    <li>Unit of Work Pattern</li>
</ul>

<h2>Repository Pattern</h2>
<p>“A Repository mediates between the domain and data mapping layers, acting like an in-memory domain object collection.” (Martin Fowler)</p>

<h2>Unit of Work</h2>
<p>“The Unit of Work maintains a list of objects affected by a business transaction and coordinates the writing out of changes.” (Martin Fowler)</p>
